#toast-container {
    right:1% !important;
    position: fixed;
    z-index: 999999;
    margin-bottom:5%;
}

.md-toast-top-right {
    top: 12px;
    right: 12px;
}

#toast-container>div {
    position: relative;
    width: 25rem;
    padding: 15px 15px 15px 30px;
    margin: 0 0 6px;
    overflow: hidden;
    filter: alpha(opacity=95);
    background-repeat: no-repeat;
    background-position: 15px center;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    opacity: .95;
}

.md-toast-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-color: #000;
    filter: alpha(opacity=40);
    opacity: .4;
    animation-duration: 5s;
    animation-name: slidein;
}

@keyframes slidein {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

.md-toast-close-button{
	padding:0;
	cursor:pointer;
	background:tranparent;
	border:0;
	-webkit-apparance:none;
}

.md-toast-title{
	font-weight:400;
}

.md-toast-message{
	word-wrap:break-word;
}

.md-toast-success {
    background-color: #33b5e5;
}
